body {
    margin: 0;
    font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;

    line-height: 20px;
    color: #555555;
    background-color: #eeeeee;
    overflow-x: hidden;
}
.navbar{
  background-color: #1c1c1c important;
}
.sticky {
    overflow: hidden;
}

.sticky ul {
    margin-right: -2px;
}
.sticky li a {
    display: block;
    background-color: #fff;
    margin-right: 1px;
    padding: 5px 20px 5px 140px;
    text-decoration: none;
}

.sticky a:hover {
    background-color: #F8FCFE;
}
a:hover, a:focus {
    color: #3071A9;
    text-decoration: none;
}
a:hover, a:active {
    outline: 0;
}

.sticky li {
    width: 50%;
    float: left;
    margin-bottom: 1px;
}
li {
    line-height: 20px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul, ol {
    padding: 0;
    margin: 0;
    list-style:none;
}
.leftbar li:hover {
    background-color: #F8FCFE;
}
.leftbar ul{
    display: block;
    list-style-type:none;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.leftbar li{
  padding-left: 10px;
  padding-bottom: 10px;
  display: inline-block;
}
.leftbar h3{
  font-size: 0.8em;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight:normal;
}

.sticky p {
    overflow: hidden;
    height: 40px;
}
.sticky img {
    float: left;
    margin: 8px 0 0 -120px;
    max-width: 100%;
    max-height: 70px;
}
#sidebar{
    padding-right: 0px;
    padding-left: 0px;
}
.leftbar{
  clear: both;
  margin-bottom: 10px;
  background-color: #fff;
}
.leftbar img{
    float: left;
    margin-right: 10px;
    max-width: 100px;
    max-height: 70px;
}
.d_tags {
    padding: 12px 10px 15px 10px;
}
.d_tags a:nth-child(9n) {
	background-color:#4a4a4a
}
.d_tags a:nth-child(9n+1) {
	background-color:#15a287
}
.d_tags a:nth-child(9n+2) {
	background-color:#5cb85c
}
.d_tags a:nth-child(9n+3) {
	background-color:#d9534f
}
.d_tags a:nth-child(9n+4) {
	background-color:#567e95
}
.d_tags a:nth-child(9n+5) {
	background-color:#b433ff
}
.d_tags a:nth-child(9n+6) {
	background-color:#866161
}
.d_tags a:nth-child(9n+7) {
	background-color:#b37333
}
.d_tags a:nth-child(9n+8) {
	background-color:#f60
}
.d_tags a {
    font-size: 12px;
    opacity: .7;
    filter: alpha(opacity=80);
    color: #FFFFFF;
    background-color: #FFFFFF;
    display: inline-block;
    margin: 2px 5px 5px 0;
    padding: 4px 4px;
    line-height: 21px;
}
.d_tags a:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.sticky h3 {
    font-size: 14px;
    margin: 0;
    font-weight: normal;
    height: 35px;
    overflow: hidden;
}
h3 {
    font-size: 14px;
    font-weight: normal;
}

h1, h2, h3 {
    line-height: 35px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 5px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
div{
    display: block;
}
.title {
    position: relative;
    margin: 0;
    line-height: 20px;
    padding: 6px 20px;
    font-size: 15px;
    background-color: #F7F7F7;
    height: 20px;
    border-bottom: 1px solid #eaeaea;
    font-weight: normal;
    height: 33px;
}
.header, .container, .footer {
    max-width: 1320px;
    margin: 0 auto;
    text-align: left;
    position: relative;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
.excerpt {
    background-color: #fff;
    padding: 20px 20px 20px 256px;
    margin-bottom: 1px;
    position: relative;
    border-left: solid 4px #fff;
}

.excerpt .focus {
    float: left;
    width: 220px;
    margin-left: -240px;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: table;
}
.excerpt .focus a {
    display: table-cell;
    vertical-align: middle;
    width: 220px;
    height: 150px;
}
a {
    color: #428BD1;
    text-decoration: none;
}
a:-webkit-any-link {

    cursor: auto;
    text-decoration: none;
}
.excerpt .focus a img {
    margin: 0 auto;
    max-width: 220px;
    max-height: 150px;
}
.excerpt .focus a img {
    margin: 0 auto;
    max-width: 220px;
    max-height: 150px;
}
.excerpt header .label {
    margin-right: 5px;
    position: relative;
    top: -2px;
}
.excerpt:before, .excerpt:after {
    display: table;
    content: "";
    line-height: 0;
}
.excerpt:after {
    clear: both;
}
.excerpt:after {
    display: table;
    content: "";
    line-height: 0;
}
.excerpt:hover {
    border-left-color: #428bca;
    padding-left: 260px;
    margin-left: -4px;
    background-color: #F8FCFE;
}
.label, .badge {
    position: relative;
    display: inline-block;
    padding: 4px 6px 3px;
    font-size: 10.152px;
    line-height: 14px;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #999999;
}
.label-important, .badge-important {
    background-color: #d9534f;
}

.label-arrow {
    position: absolute;
    width: 0;
    height: 0;
    vertical-align: top;
    content: "";
}
.label-important .label-arrow, .badge-important .label-arrow {
    border-left-color: #d9534f;
}
.label .label-arrow {
    top: 7px;
    right: -4px;
    border-left: 4px solid #000000;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.label-arrow {
    position: absolute;
    width: 0;
    height: 0;
    vertical-align: top;
    content: "";
}
a .label{
    font-size: 12px;
}

.excerpt h2 {
    display: inline;
    font-size: 16px;
    margin: 0;
    font-weight: normal;
    position: relative;
    top: 1px;
    line-height: 25px;
}
p {
    margin: 0 0 10px;
}
p {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.muted {
    color: #999999;
    font-size: 12px;
}
.muted [class^="icon-"], .muted [class*=" icon-"] {
    opacity: 0.40;
    filter: alpha(opacity=40);
}


.icon-user {
    background-position: -168px 0;
}
.icon12 {
    margin-top: 2px;
}
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url(img/glyphicons-halflings.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
    margin-top: 4px;
}
.icon-time {
    background-position: -48px -24px;
}
.icon-comment {
    background-position: -240px -120px;
}
.excerpt .note {
    margin-bottom: 0;
}
.excerpt .note {
    color: #777;
    font-size: 14px;
    line-height: 24px;
}
.excerpt:after {
    clear: both;
}
.excerpt:before, .excerpt:after {
    display: table;
    content: "";
    line-height: 0;
}
h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.sidebar1 {
    float: left;
    margin-left: -360px;
    width: 360px;
    position: relative;
}
aside{
    display: block;
}
.widget_categories {
}

.widget {
    clear: both;
    margin-bottom: 10px;
    background-color: #fff;
}
.widget h3 {
    position: relative;
    margin: 0;
    line-height: 20px;
    padding: 6px 15px;
    font-size: 15px;
    background-color: #F7F7F7;
    height: 20px;
    border-bottom: 1px solid #eaeaea;
    font-weight: normal;
}
label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
}
.widget_archive select, .widget_categories select {
    margin-top: 10px;
    width: 91%;
    margin-left: 15px;
    height: 32px;
    line-height: 32px;
    padding: 2px;
}
select {
    width: 220px;
    border: 1px solid #cccccc;
    background-color: #fbfbfb;
    display: inline-block;
    height: 20px;
    padding: 5px 6px 3px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
    color: #555555;
    border-radius: 0;
    vertical-align: middle;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
}
.dropdown:hover .dropdown-menu{
  display: block;
}
select:not(:-internal-list-box) {
    overflow: visible !important;
}
